/*desktop*/
#content{
    width: 100%;
    margin: auto;
    line-height: 1.5em;
    font-size: 1.5em;
}

/*phone*/
@media (orientation: portrait) {
    #content {
        width: 100%;
        line-height: 1.5em;
        font-size: 1.5em;
    }
}

#nav-bar {
    display: flex;
    flex-direction: row;
    background-color:#9ea8b2;
    position: fixed;
    bottom: 10%;
    width: 80%;
    border-radius:20px;
    height: 55px;
}

.nav-button {
    margin: auto;
    color:white;
    background-color:#707f8f;
    border-radius: 15px;
    padding-left: 2%;
    padding-right: 2%;
}

body{
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:black;
}

a:link{
    text-decoration: none;
    color: inherit;
}