/*desktop*/
#content{
    width: 100%;
    margin: auto;
    line-height: 1.5em;
    font-size: 1.5em;
}

/*phone*/
@media (orientation: portrait) {
    #content {
        width: 100%;
        line-height: 1.5em;
        font-size: 1.5em;
    }

    .image-container{
        flex-direction: column;
    }
}

#nav-bar {
    display: flex;
    flex-direction: row; 
    height: 55px;
    padding-top: 30px; 
}

.nav-button {
    margin: auto;
    transition: color .2s;
    text-decoration: none;
    background-color: #180782;
    color:white;
    border-radius: 50px;
    padding: 2px 45px;
    font-size: 0.9em;

    &:hover {
        color: white;
        background-color:#393939
    }
}

body{
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f8f3f2;
    color: #393939;
}

h1{
    font-size: 3.5em;
    color:#180782;
    line-height: 1.2em
}

h2{
    font-size: 1.5em;
    line-height: 1.2em;
}

h3{
    font-size: 1.4em;
    line-height: 1.2em;
    padding-top: 30px;
    font-weight:normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4{
    font-size: 1.2em;
    line-height: 1.2em;
    background-color: #180782;
    color:white;
    margin:auto;
    border-radius: 50px;
    width: fit-content;
    border-radius: 50px;
    padding: 2px 45px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.flex-item{
    padding: 20px;
}

.item-1{
    width: 65%;
}

.item-2{
    width: 35%;
}

.image-container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.image-box {
    margin: auto;
}

.image-box img {
    width: 350px;
    height: 200px;
}

.image-box p{
    font-size: 0.9em;
    color:#f8f3f2;
    background-color:#180782;
    margin:auto;
}

.spacer{
    height: 120px;
}

.highlight{
    color: #180782;
    font-weight:bolder
}

a:link{
    text-decoration: none;
    color: inherit;
}

a:visited { 
    text-decoration: none; 
    color:inherit; }