/*desktop*/
#content{
    width: 100%;
    margin: auto;
    line-height: 1.5em;
    font-size: 1.5em;
    font-weight: lighter;
    font-family: "DM Serif Text", serif;
}

/*phone*/
@media (orientation: portrait) {
    #content {
        width: 100%;
        line-height: 1.5em;
        font-size: 1.5em;
    }

    .image-container, .flex-container, .visualization-container, .flex-container-2, .visualization-container, .gallery-container, .video-container { /*combined all the containers for styling, still struggling with making them 100% width in portrait mode*/ 
       width: 100%;
    }

    .writing-container {
        height: 1000px;
    }
}

#nav-bar {
    display: flex;
    flex-direction: row; 
    height: 55px;
    padding-top: 30px; 
}

.nav-button {
    margin: auto;
    transition: color .2s;
    text-decoration: none;
    background-color: #212529;
    color:#f8f9fa;
    border-radius: 50px;
    padding: 2px 45px;
    font-size: 0.9em;
    font-weight:lighter;

    &:hover {
        color: white;
        background-color:#180782
    }
}

body{
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f8f9fa;
    color: #212529;
}

h1{
    font-size: 3em;
    color:#180782;
    line-height: 1.2em;
    font-weight: 300;
}

h2{
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 300;
}

h3{
    font-size: 1.4em;
    line-height: 1.2em;
    padding-top: 30px;
    font-weight: 300;
}

h4{
    font-size: 1.2em;
    line-height: 1.2em;
    background-color: #212529;
    color:white;
    margin:auto;
    border-radius: 50px;
    width: fit-content;
    padding: 2px 45px;
    font-weight: 200;
}

h5{
    font-size: 1.2em;
    line-height: 1.0em;
    font-weight: 400;
}

p{
    font-size: 1em;
    line-height: 1.3em;
    font-weight: 100;
}

#byline {
    font-size: 1em;
    line-height: 0.9em;
    font-weight: 400;
    color:#180782;
}

.flex-container{
    display: flex;
    justify-content:space-evenly;
    gap: 150px;
}

.flex-item{
    padding: 30px;
}

.item-1{
    width: 45%;
}

.item-2{
    width: 25%;
}

.flex-container-2{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: auto;
    gap: 40px;
}

.item-3 {
    width: 40%;
    padding-left: 10%;
    padding-top: 5%;
}

.item-4 {
    width: 50%;
    padding-right: 10%;
}

.item-4 p{
    font-size: 0.9em;
    line-height: 1.2em;
    text-align:left;
}

.icon-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 15px;
}

.icon {
    height: 40px;
}

.image-container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    gap: 30px;
}

.image-box img {
    max-width: 100%;
    height: auto;
    border: 3px solid #212529;
}

.image-box p{
    font-size: 0.9em;
    color:#212529;
    margin:auto;
    width: fit-content;
    font-weight: 200;
    padding-top: 10px;
}

.writing-container {
    width: 80%;
    height: 650px;
    margin: auto;
    overflow-y: auto;
}

.writing-item{
    margin:auto;
}

.writing-item p{
    font-size: 0.9em;
    line-height: 0.4em;
}

.visualization-container{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 20px;
    width: 100%;
    height: 400px;
    position:relative;
}

.visualization img{
    border-radius: 20px;
    height: 350px;
    border: 3px solid #212529;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 550px;
    overflow-x: auto;
    white-space: nowrap;
}

.image-wrapper {
    display: inline-block;
}

.image-wrapper img{
    max-height: 520px;
    max-width: 100%;
    margin-right: 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: f8f3f2;
    text-align: center;
    padding: 20px;
}

#lightbox img {
    max-width: 90%;
    max-height: 80%;
}

#lightbox-caption {
    margin-top: 10px;
    font-size: 0.9em;
    color:#f8f3f2
}

#lightbox-credit {
    margin-top: 5px;
    font-size: 0.8em;
    font-style: italic;
}
.video-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 80px;
    overflow-x: auto;
}

.video iframe{
    height: 360px;
    width: 540px;
    border-radius: 20px;
    border:3px solid #212529;
}
.spacer{
    height: 120px;
}

.highlight{
    color: #180782;
    font-weight:bolder
}

a:link{
    text-decoration: none;
    color: inherit;
}

a:visited { 
    text-decoration: none; 
    color:inherit; 
}

.flourish-embed {
    padding-top: 20px;
    width:80%;
    margin: auto;
}